<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@1559.va_a_533730b_ea_d">
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers>
        <com.cloudbees.jenkins.GitHubPushTrigger plugin="github@1.45.0">
          <spec></spec>
        </com.cloudbees.jenkins.GitHubPushTrigger>
      </triggers>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@4238.va_6fb_65c1f699">
    <script>pipeline {
    agent any

    stages {
        stage(&apos;Checkout&apos;) {
            steps {
                // 깃허브에서 코드 가져오기
                git branch: &apos;main&apos;, url: &apos;https://github.com/Mseunghwan/NoSmoke.git&apos;
            }
        }
        
        stage(&apos;Test Backend (Spring)&apos;) {
            steps {
                dir(&apos;backend&apos;) {
                    // 권한 부여 후 테스트 실행
                    sh &apos;chmod +x gradlew&apos;
                    sh &apos;./gradlew test&apos; 
                }
            }
        }

        stage(&apos;Build Backend&apos;) {
            steps {
                dir(&apos;backend&apos;) {
                    echo &apos;Building JAR...&apos;
                    // 테스트는 위에서 했으니 생략하고 빌드
                    sh &apos;./gradlew build -x test&apos; 
                }
            }
        }
        
        stage(&apos;Test AI Server&apos;) {
            steps {
                dir(&apos;ai-server&apos;) {
                    echo &apos;Testing FastAPI...&apos;
                    // 파이썬 테스트 코드가 있다면 나중에 추가
                }
            }
        }
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>